<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <title>
            My-to-Do-Application
        </title>
        <script src="https://cdn.tailwindcss.com/"></script>
        <link href="/css/styles.css" rel="stylesheet">
        <script>
            var token =document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
            function updateTodo(id, status) {
                    fetch(`/todos/${id}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({  "_csrf": token, completed: status })
                    })
                        .then((res) => {
                            if (res.ok) {
                                // Reload the page to show the updated todo list
                                window.location.reload();
                            }
                        })
                        .catch((err) => {
                            console.error(error);
                        });
                }


              function deleteTodo(id) {
                    fetch(` /todos/${id}`, {
                        method: 'delete',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ "_csrf": token })
                    })
                        .then((res) => {
                            if (res.ok) {
                                window.location.reload();
                            }
                        })
                        .catch((err) => console.error(error));
                }
        </script>

    </head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input required type="text" name="title" placeholder="what's next?"  class="border border-grey-300 rounded text-grey-900 w-full p-2 text-sm"required />
                    </div>
                    <div class="flex-auto">
                        <input required type="date" name="dueDate" class="border border-grey-300 rounded text-grey-900 w-full p-2 text-sm" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white py-1.5 px-5 rounded font-midium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <div>
            <%- include('todos.ejs', {title:"Overdue" ,data:Overdue}) %>
            <%- include('todos.ejs', {title:"Due Today" ,data:dueToday}) %>
            <%- include('todos.ejs', {title:"Due Later" ,data:dueLater}) %>
            <%- include('todos.ejs', {title:"Completed Items" ,data:completed}) %>
            </div>
        </div>
    </div>
   
</body>
</html>
